
html { font-size: 16px;}

@media screen and (max-width:720px){
    html { font-size: 14px;}
}

@media screen and (max-width:640px){
    html { font-size: 12px;}
}

@media screen and (max-width:480px){
    html { font-size: 10px;}
}

@media screen and (max-width:320px){
    html { font-size: 8px;}
}